<h1>{{title}}</h1>
<p>Developed by {{user}}</p>

<h1>Saving in the database</h1>
    <form action="/send" method="post">
    <input type="text" name="name"  placeholder="Item name" required>
    <input type="text" name="size"  placeholder="Size" required>
    <input type="submit" value="Send">
</form>

<h1>Deleting from the Database</h1>
    <form action="/delete" method="post">
    <input type="text" name="name"  placeholder="Item name" required>
    <input type="submit" value="Delete">
</form>